body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table-airline {
    background-color: #A7C6ED;
    border-radius: 0px 0px 5px 5px;    
}

.form-airline {
    background-color: #A7C6ED;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

.sub-airline {
    padding: 10px 10px 10px 10px;    
}

.sub-airline-cell {
    width: 250px;
}

.footer-link {
    padding-top: 20px;
}